extends layout

block content

  h1 Character: #{character.name}
  p #{character.element }
  p #{character.weapon }
  p #{character.rarity}
  img(src='../../Cicons/'+character.name+'.png' style='width:100px; height:100px;')
  img(src='../../CharImage/'+character.name+'.png' style='width:400px; ')