extends layout

block content
  div.container-fluid.rounded(class="content")
    div(class="row")
      img(src='../../Cicons/'+character.name+'.png' style='width:120px; height:100px;')
      h1 #{character.name}
      img(src='../../CharImage/'+character.name+'.png' style='width:400px; ')
      p #{character.element }
      p #{character.weapon }
      p #{character.rarity} star