extends layout

block content
  div.container(class="content")
    div(class="row character-header ")
      div(class="col-sm-3 col-md-3 ")
        img(src='../../Cicons/'+character.name+'.png' style='width:90px; height:90px;')
      div(class="col-sm-9 col-md-2 ")
        h1 #{character.name}
        img(src='../../elements/'+character.element.toLowerCase()+'.png')
        p #{character.weapon } 
        p #{character.rarity + " star"}
      div(class="col-md-7 d-sm-none d-md-block d-none d-sm-block")
        img(src='../../CharImage/'+character.name+'.png' style='width:400px; ')

    div(class="row")
      p There is some content here