extends layout

block content
  h1= title
  p Welcome to #[em GIBuild], its a new day

  main.inner.cover(role='main')
    li #[strong Books:] !{data.book_count}
    li #[strong Characters:] !{data.character_count}

  if error
    p Error getting dynamic content.
  else
    

