doctype html
html(lang='en')
  head
    title= "GIBuild V0.5" 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.text-center
    .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      header.masthead.mb-auto
        .inner
          a(href='/catalog')
            h3(class="masthead-brand") GIBuild
          nav.nav.nav-masthead.justify-content-center
            a.nav-link.active(href='/catalog') Home
            a.nav-link.active(href='/catalog/characters') Characters
            a.nav-link.active(href='/cool') cool
      div
        block content
    
      footer.mastfoot.mt-auto
        .inner
          p Temporary webpage, WIP!
          p Copyright @YL 2021, 
          p A website for information and data collection purposes, Assets are taken from MiHoYo's Genshin Impact
      
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    script(src='../../assets/js/vendor/popper.min.js')
    script(src='../../dist/js/bootstrap.min.js')
      
