doctype html
html(lang='en')
  head
    title= "GIBuild V0.5 " + title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.text-center
    .cover-container.d-flex.h-100.p-3.mx-auto.flex-column
      header.masthead.mb-auto
        .inner
          a(href='/catalog')
            h3(class="masthead-brand") GIBuild
          nav.nav.nav-masthead.justify-content-center
            a.nav-link.active(href='/catalog') Home
            a.nav-link(href='/catalog/characters') Characters
            a.nav-link(href='/cool') cool
      div
        block content
    
      footer.mastfoot.mt-auto
        .inner
          p Temporary webpage, WIP!
          p Copyright @YL 2021
      
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
    script.
      window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
    script(src='../../assets/js/vendor/popper.min.js')
    script(src='../../dist/js/bootstrap.min.js')
      
