extends layout

block content
  div(class="container content")
    h1= title 
    each weapon in weapon_list
      div(class="character-portrait col-xs-3")
        a(href=weapon.url) 
          img(src='../../weapons/'+ weapon.type.toLowerCase() +'s/'+ weapon.name.toLowerCase().split(" ").join("_").split("'").join("").split("-").join("_") +'.png' style='width:70px; height:70px;' class="charimage")
          span(class="caption") #{weapon.name} 

    else
      li There are no weapons.